body {
	background:url("fundo.jpg");
	color: white;
	font-family: 'Open Sans', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
	font-size: 30px;
	width: 880px;
	margin: 0 auto;
	padding: 35px;
	font-weight: 400;
	line-height: 1.2;
}

header p {
	font-size: 1.125rem;
	width: 880px;
	margin: 0 auto;
	padding: 0 0 3rem;
}

main {
	width: 940px;
	margin: 0 auto;
	border: 2px solid #000;
	border-radius: 5px;
	background: rgba(27, 27, 50, 0.8);
	padding: 2em 0 0 3rem;
}

form label, form legend, .form-group {
	display: block;
	margin: 0 0 15px;
	font-weight: 400;
	font-size: 20px;
}

.input-padrao, .select {
	margin: 0 0 15px;
	width: 50%;
	padding: 10px;
	border-radius: 5px;
	border-color: white;
}

textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	padding: 2rem;
	width: 50%;
	border-radius: 5px;
}

.input {
	min-width: 20px;
    min-height: 20px;
    margin-right: 5px;
}

.input-enviar {
	display: block;
	padding: 10px;
}

.input-submit {
	width: 57%;
	padding: 13px;
	font-size: 18px;
	color: white;
	background: #32CD32;
	cursor: pointer;
	box-shadow: 5px 5px 5px #000;
	border-radius: 5px;
	transition: 1s all;
}

.input-submit:hover {
	transform: scale(1.1);
}

.form-group p {
	font-size: 20px;
	margin: 0 0 15px;
}
